<% content_for :title, 'Whiteboard LMS for CMU-SV' %>

<%# render :partial=>'rss_feeds/index', :locals => {:rss_feeds => @rss_feeds} %>

<h1>Reset account</h1>

<form action="<%= password_resets_path %>" id="resetform" method="post" role="reset">
  <div>
    <label for="s" class="screen-reader-text">Username (your email id ):</label>
    <input type="text" id="query" name="query" value="">
    <input type="submit" value="   Go   " id="searchsubmit">
  </div>
</form>


