.bundle
db/*.sqlite3
log/*.log
tmp/

.gems
20090827190915_mfse_add_people.rb



coverage/*
nbproject/*
.idea/*
*.sublime-project
*.sublime-workspace
MfSE/*
lib/views/*
coverage/*

README_personal

public/images/staff/*
public/images/students/*

cmusv*gz

pull*.dat
push*.dat

# OS files
.DS_Store

# Vagrant files
.vagrant
