<% content_for :title, 'Whiteboard Password Reset Confirmation' %>

<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">New password</h1>

<form action="<%= people_path%>" id="password_reset_form" method="post" role="confirm_reset">

  <div>
    <p>
      <b>Instructions</b>
      <br/>You may choose to retain or change your CMU password. Your new password will be synchronized with your @sv.cmu.edu account.
    </p>


    Would you like to change your password?<br/>
    <input type="button" value="Retain current password" id="retainPassword">
    <input type="button" value="Change password" id="changePassword">
    <input type="submit" value="   Go   " id="resetSubmit">
  </div>
  </br>

</form>

