Hi <%= @person.first_name %>,
<p>Your password for your Silicon Valley email was successfully changed at <%= Time.now.to_s  %>.</p>

<p>If you did not request this operation please report to help@sv.cmu.edu immediately.</p>

<p>Regards,</p>

<p>Technical Operations.</p>

