<% content_for :title, 'Whiteboard LMS for CMU-SV' %>

<%# render :partial=>'rss_feeds/index', :locals => {:rss_feeds => @rss_feeds} %>

<h1>Reset account</h1>

<form action="<%= password_reset_index_path %>" id="searchform" method="get" role="search">
  <div>
    <label for="s" class="screen-reader-text">Username (your email id ):</label>
    <input type="text" id="query" name="query" value="">
    <input type="submit" value="   Go   " id="searchsubmit">
  </div>
</form>


<% if current_user && current_user.is_admin %>
    <h2>Admin only</h2>
    <p><%= link_to "Config", config_path %></p>
<% end %>